//Tablet layout
@media only screen and (min-width: 200px) and (max-width: 991px) {
  .content {
    width: 98%;
  }
  .welcome_area .inner_welcome .left_welcome {
    width: 100%;
    padding: 0 2%;
    float: left;
  }
  .welcome_area .inner_welcome .right_welcome {
    width: 100%;
    margin-top: 20px;
    float: left;

    img {
      width: 100%;
    }
  }

  .service_area {
    padding: 20px 0;
    .inner_service {
      h2.title {
        font-size: 35px;
      }
      .main_service .child_service {
        padding: 130px 60px 80px 90px;
      }
    }
  }
}

//Mobile layout
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .top_header_area .inner_header {
    .social_area {
      float: left;
      width: 100%;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
      }
    }
    .search_area {
      display: none;
    }
  }

  .slicknav_menu {
    display: block;
    background: #97455f;
  }
  .main_menu {
    display: none;
  }

  .service_area .inner_service .main_service .child_service {
    padding: 50px 50px 40px 70px;

    h3 {
      position: absolute;
      left: 20px;
      top: -10px;
    }
  }

  .contact_area .inner_contact {
    h2.title {
      font-size: 30px;
    }
    .main_contact_form input[type="submit"] {
      font-size: 16px;
      width: 200px;
    }
  }

  .footer_area .inner_footer .footer_logo {
    width: 200px;

    img{
        max-width: 100%;
    }
  }
}
