/* Variable */
$primary: #70c6a6;
$heading: #353738;
$text: #848789;
$input-border: #d3d7d9;
$input-text: #929292;
$bg-light: #f7f7f7;
$bg-dark: #1a1c28;

/* Setup basics CSS */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}
input,
textarea,
button {
  outline: none;
  box-shadow: none;
  font-family: "Lato", sans-serif;
}
/* Your style start from here */
.header{
  background: #fff;

  &__inner{
    max-width: 1024px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
  }
}

.logo{
  max-width: 8rem;
}

.menu{
  display: flex;
  align-items: center;

  &__item{
    margin: 0 1rem;
    //position: relative;

    &:hover .menu__child{
      opacity: 1;
      visibility: visible;
    }
  }
  &__child{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: .25s linear;

    &-item{
      width: 25%;

      h4{
        color: #fff;
        font-size: 1.4rem;
        padding: 2rem;
        background-color: #80aefd;
      }
      li{
        padding: 1.5rem;
        border-top: 1px solid #eee;
      }
    }
  }
  &__link{
    color: #000;
    font-size: 2rem;
    display: block;
    padding: 2rem;
  }
}

.main{
  height: 50px;
  background: grey;
}